APP_DATABASE_URL=sqlite:///runtime/media_automata.sqlite3

APP_BROWSER_HEADLESS=false

MISTRAL_API_KEY=
MISTRAL_API_KEYS=
MISTRAL_API_KEY1=
MISTRAL_API_KEY2=
MISTRAL_API_KEY3=

OPENWA_BASE_URL=http://localhost:2785/api
OPENWA_API_KEY=
OPENWA_SESSION_ID=

APP_ALLOWED_WHATSAPP_NUMBERS=*

LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=
X_LOGIN_IDENTIFIER=
X_SECONDARY_IDENTIFIER=
X_PASSWORD=
INSTAGRAM_USERNAME=
INSTAGRAM_PASSWORD=
